//text colors
.text-dark {
  color: #201b17;
}

.text-danger {
  color: #EB2626;
}

.text-ash {
  color: #dcdbdb;
}

//background colors
.bg-dark {
  background: #201b17;
}

.bg-danger {
  background: #EB2626;
}

.bg-ash {
  background: #dcdbdb;
}

.bg-success {
  background: #0acf97 !important;
  color: white;
  font-weight: bold;
}
