@font-face {
    font-family: 'Nexa';
    src: url('/assets/fonts/Nexa Light.otf') format('opentype');
    font-display: swap;
}
@font-face {
    font-family: 'Nexa';
    src: url('/assets/fonts/nexa-light-italic.otf') format('opentype');
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Nexa';
    src: url('/assets/fonts/Nexa Bold.otf') format('opentype');
    font-weight: bold;
    font-display: swap;
}
@font-face {
    font-family: 'Nexa';
    src: url('/assets/fonts/nexa-bold-italic.otf') format('opentype');
    font-style: italic;
    font-weight: bold;
    font-display: swap;
}