.table {
    margin-bottom: 0;
    thead {        
        th {
            vertical-align: top;
        }
    }

    th, td {
        vertical-align: middle;

        a {
            color: #fff!important;
        }
    }
}
